.search-container {
    margin: 0 auto;
    width: 617px;
    color: #333;
}

    .bold {
        font-weight: bold;
    }

    .search-box {
        color: #000;
        overflow: hidden;
    }

        .search-box #searchText {
            padding: 7px 10px 8px;
            width: 461px;
        }

        .search-box #limit {
            margin-right: 5px;
            width: 20px;
            padding: 2px 5px;
            font-size: 12px;
        }

        .search-box button {
            padding: 9px 7px 8px;
            width: 130px;
        }

    .search-container .tabs {
        overflow: hidden;
    }

        .search-container .tabs li {
            float: left;
        }

        .search-container .tabs li.selected {
            border-bottom: none;
        }

        .search-container .tabs li:last-of-type {
            float: left;
            border-right: none;
        }

             .search-container .tabs li a {
                 padding: 5px 19px;
                 color: #006097;
                 font-size: 14px;
                 display: inline-block;
                 background-color: #F3F3F3;
            }

             .search-container .tabs li.selected a,
             .search-container .tabs li:hover a {
                 color: #333;
                 background-color: #fff;
             }

    .search-container .search-results {
        margin-top: 10px;
        border: 1px solid #e2e2e2;
        background: #fff
    }

        .search-container .search-results .result-list {
            padding: 15px 0;
            font-size: 14px;
            overflow: hidden;
            display: none;
        }

        .search-container .search-results .result-list:first-of-type {
            display: block;
        }

            .search-container .search-results .execution-time {
                margin: 0 0 15px 15px;
                font-size: 14px;
                color: #7F7F7F;
                display: inline-block;
            }

            .search-container .search-results .result-list .result {
                margin-bottom: 15px;
                padding: 0 15px 15px;
                border-bottom: 1px solid #EBEBEB;
                overflow: hidden;
            }

                .search-container .search-results .result-list .img {
                    width: 140px;
                    height: 100px;
                    border: 2px solid #C8C8C8;
                }

                .search-container .search-results .info {
                    margin-left: 20px;
                    width: 420px;
                }

                .search-container .search-results .info .right {
                    width: 200px;
                }
                    .search-container .search-results .info h4 {
                        margin-bottom: 15px
                    }

                    .search-container .search-results .info h4 a {
                        color: #006097;
                        font-size: 16px;
                    }

                    .search-container .search-results .info .label {
                        color: #999;
                    }